---
title: "Shart playground"
layout: "playground"
---

<div ng-controller="PlaygroundCtrl">
  <div class="form-group">
    <select class="form-control" ng-model="key" ng-options="titleize(label) for label in keys" ng-change="keyChanged()"></select>
  </div>

  <div class="well" ng-show="key === 'legend'">
    <shart-legend data="fields.legend.data"></shart-legend>
  </div>

  <div class="well" ng-show="key === 'series'">
    <shart-series
      start-time="fields.series.options.start_time"
      end-time="fields.series.options.end_time"
      date-axis="fields.series.options.data_axis"
      y-axis-ticks="fields.series.options.y_axis_ticks"
      data="fields.series.data"></shart-series>
  </div>

  <label>Data</label>
  <div class="form-group" style="position: relative">
    <textarea class="form-control" ng-model="updates[key].data" ng-keyup="update('data')" rows="18" style="font-family: monospace; font-size: 13px"></textarea>
    <button class="btn btn-default btn-sm" style="position: absolute; top: 0; right: 0; border-top-left-radius: 0; border-bottom-right-radius: 0" type="button" ng-click="reset('data')">
      Reset
    </button>
  </div>
  
  <span ng-cloak ng-if="error" style="color: red">{{error.toString()}}</span>
</div>

<script>
angular.module('app').controller('PlaygroundCtrl', function($scope, $filter) {
  var toJson = function(o) { return $filter('json')(o, 4); }
  ,   parseJson = function(s) { return angular.fromJson(s); }
  ,   clone = function(o){ return parseJson(toJson(o)); }
  ;

  var initial = {
    legend: {
      options:
        '{}',
      data:
        '[\n' +
        '  {"label": "Mobile",  "value": 1167, "color": "#6ea6df"},\n' +
        '  {"label": "Web",     "value": 224,  "color": "#e17a69"},\n' +
        '  {"label": "Desktop", "value": 543,  "color": "#84c26d"}\n' +
        ']'
    },
    series: {
      options:
        '{\n' +
        '  "start_time": "21 Feb 2014",\n' +
        '  "end_time": "22 Mar 2014",\n' +
        '  "date_axis": "daily",\n' +
        '  "y_axis_ticks": 4\n' +
        '}',
      data:
        '[{\n' +
        '  "type": "line",\n' +
        '  "fill": true,\n' +
        '  "label": "Unique visitors",\n' +
        '  "sequence": [765,280,344,930,989,852,814,734,330,305,893,826,808,820,727,305,286,913,868,758,833,577,253,266,724,752,698,727,648,292],\n' +
        '  "color": "#9a9bc9"\n' +
        '}]'
    }
  };
  
  $scope.fields = {}
  $scope.updates = clone(initial); 
  $scope.key = 'series';
  $scope.keys = Object.keys(initial);

  Object.keys(initial).forEach(function(key) {
    var o = {};
    Object.keys(initial[key]).forEach(function(field) {
      console.log(initial[key][field]);
      o[field] = parseJson(initial[key][field])
    })
    $scope.fields[key] = o;
  });
  console.log('here');

  $scope.update = function(field) {
    try {
      var o = parseJson($scope.updates[$scope.key][field])
      $scope.fields[$scope.key][field] = o;
      $scope.error = false;
    } catch(error) {
      $scope.error = error;
    }
  };

  $scope.reset = function(field) {
    $scope.fields[$scope.key][field] = initial[$scope.key][field];
    $scope.updates[$scope.key][field] = initial[$scope.key][field];
    $scope.update(field);
  }

  $scope.titleize = function(string) {
    return string.replace(/^([a-z])/, function() { return RegExp.$1.toUpperCase(); })
  };

});
</script>
